projects/customer-mock-service/src/main/mule/customer-mock-service-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <!-- GET /accounts -->
    <flow name="get:\accounts:APIkit_Config">
        <os:retrieve-all objectStore="Account_Store" target="allAccounts"/>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var accounts = valuesOf(vars.allAccounts) map (item) -> read(item, "application/json")
var nameFilter = attributes.queryParams.name
var filtered = if (nameFilter != null)
    accounts filter (acct) -> upper(acct.Name) contains upper(nameFilter)
else
    accounts
var limitParam = attributes.queryParams.limit default "25"
var limited = filtered[0 to (limitParam as Number - 1)]
---
{
    total: sizeOf(filtered),
    accounts: limited
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- POST /accounts -->
    <flow name="post:\accounts:application\json:APIkit_Config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var sfId = "001xx" ++ (uuid() replace "-" with "")[0 to 14]
---
{
    Id: sfId,
    Name: payload.Name,
    Phone: payload.Phone default null,
    Website: payload.Website default null,
    Industry: payload.Industry default null,
    Description: payload.Description default null,
    CreatedDate: now(),
    LastModifiedDate: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable variableName="newAccount" value="#[payload]"/>
        <set-variable variableName="accountId" value="#[payload.Id]"/>
        <os:store objectStore="Account_Store" key="#[vars.accountId]">
            <os:value><![CDATA[#[write(vars.newAccount, "application/json")]]]></os:value>
        </os:store>
        <set-variable variableName="httpStatus" value="201"/>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.newAccount]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET /accounts/{accountId} -->
    <flow name="get:\accounts\(accountId):APIkit_Config">
        <set-variable variableName="accountId" value="#[attributes.uriParams.accountId]"/>
        <os:contains objectStore="Account_Store" key="#[vars.accountId]" target="accountExists"/>
        <choice>
            <when expression="#[vars.accountExists]">
                <os:retrieve objectStore="Account_Store" key="#[vars.accountId]" target="accountJson"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
read(vars.accountJson, "application/json")]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <set-variable variableName="httpStatus" value="404"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errorCode: "NOT_FOUND",
    message: "Account not found: " ++ vars.accountId,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- PUT /accounts/{accountId} -->
    <flow name="put:\accounts\(accountId):application\json:APIkit_Config">
        <set-variable variableName="accountId" value="#[attributes.uriParams.accountId]"/>
        <set-variable variableName="updatePayload" value="#[payload]"/>
        <os:contains objectStore="Account_Store" key="#[vars.accountId]" target="accountExists"/>
        <choice>
            <when expression="#[vars.accountExists]">
                <os:retrieve objectStore="Account_Store" key="#[vars.accountId]" target="existingJson"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var existing = read(vars.existingJson, "application/json")
var updates = vars.updatePayload
---
{
    Id: existing.Id,
    Name: updates.Name default existing.Name,
    Phone: updates.Phone default existing.Phone,
    Website: updates.Website default existing.Website,
    Industry: updates.Industry default existing.Industry,
    Description: updates.Description default existing.Description,
    CreatedDate: existing.CreatedDate,
    LastModifiedDate: now()
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="updatedAccount" value="#[payload]"/>
                <os:store objectStore="Account_Store" key="#[vars.accountId]" failOnNullValue="false">
                    <os:value><![CDATA[#[write(vars.updatedAccount, "application/json")]]]></os:value>
                </os:store>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.updatedAccount]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <set-variable variableName="httpStatus" value="404"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errorCode: "NOT_FOUND",
    message: "Account not found: " ++ vars.accountId,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- DELETE /accounts/{accountId} -->
    <flow name="delete:\accounts\(accountId):APIkit_Config">
        <set-variable variableName="accountId" value="#[attributes.uriParams.accountId]"/>
        <os:contains objectStore="Account_Store" key="#[vars.accountId]" target="accountExists"/>
        <choice>
            <when expression="#[vars.accountExists]">
                <os:remove objectStore="Account_Store" key="#[vars.accountId]"/>
                <set-variable variableName="httpStatus" value="204"/>
                <set-payload value="#[null]"/>
            </when>
            <otherwise>
                <set-variable variableName="httpStatus" value="404"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errorCode: "NOT_FOUND",
    message: "Account not found: " ++ vars.accountId,
    timestamp: now()
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- GET /health -->
    <flow name="get:\health:APIkit_Config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "UP",
    api: "customer-mock-service",
    version: "v1",
    timestamp: now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
