projects/customer-management-api/src/main/mule/customer-management-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- GET /customers -->
    <flow name="get:\customers:APIkit_Config">
        <logger level="INFO" message="GET /customers - Listing customers"/>

        <os:retrieve-all objectStore="Customer_Object_Store" target="allCustomers"/>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var allEntries = vars.allCustomers pluck ((value, key) -> value)
var customers = allEntries map ((c) -> c)

var nameFilter = attributes.queryParams.name
var statusFilter = attributes.queryParams.status
var reqLimit = (attributes.queryParams.limit default "25") as Number
var reqOffset = (attributes.queryParams.offset default "0") as Number

var filtered = customers filter ((c) ->
    (if (nameFilter != null)
        (lower(c.firstName as String) contains lower(nameFilter)) or (lower(c.lastName as String) contains lower(nameFilter))
    else true)
    and
    (if (statusFilter != null)
        (c.status as String) == statusFilter
    else true)
)

var total = sizeOf(filtered)
var endIdx = if ((reqOffset + reqLimit - 1) < total) (reqOffset + reqLimit - 1) else (total - 1)
var sliced = if (reqOffset < total) filtered[reqOffset to endIdx] else []
---
{
    total: total,
    offset: reqOffset,
    "limit": reqLimit,
    customers: sliced default []
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- POST /customers -->
    <flow name="post:\customers:application\json:APIkit_Config">
        <logger level="INFO" message="POST /customers - Creating customer"/>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java

var ts = now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
var newId = uuid()
---
{
    id: newId,
    firstName: payload.firstName,
    lastName: payload.lastName,
    email: payload.email,
    phone: payload.phone default null,
    company: payload.company default null,
    status: payload.status default "prospect",
    address: payload.address default null,
    createdAt: ts,
    updatedAt: ts
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <set-variable variableName="newCustomer" value="#[payload]"/>

        <os:store objectStore="Customer_Object_Store" key="#[vars.newCustomer.id]">
            <os:value>#[vars.newCustomer]</os:value>
        </os:store>

        <set-variable variableName="httpStatus" value="#[201]"/>

        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.newCustomer]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

    <!-- GET /customers/{customerId} -->
    <flow name="get:\customers\(customerId):APIkit_Config">
        <logger level="INFO" message="#['GET /customers/' ++ attributes.uriParams.customerId]"/>

        <os:retrieve objectStore="Customer_Object_Store" key="#[attributes.uriParams.customerId]" target="customer">
            <os:default-value>#[null]</os:default-value>
        </os:retrieve>

        <choice>
            <when expression="#[vars.customer == null]">
                <set-variable variableName="httpStatus" value="#[404]"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errorCode: "CUSTOMER_NOT_FOUND",
    message: "Customer with ID '" ++ attributes.uriParams.customerId ++ "' not found",
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.customer]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- PUT /customers/{customerId} -->
    <flow name="put:\customers\(customerId):application\json:APIkit_Config">
        <logger level="INFO" message="#['PUT /customers/' ++ attributes.uriParams.customerId]"/>

        <set-variable variableName="updatePayload" value="#[payload]"/>

        <os:retrieve objectStore="Customer_Object_Store" key="#[attributes.uriParams.customerId]" target="existing">
            <os:default-value>#[null]</os:default-value>
        </os:retrieve>

        <choice>
            <when expression="#[vars.existing == null]">
                <set-variable variableName="httpStatus" value="#[404]"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errorCode: "CUSTOMER_NOT_FOUND",
    message: "Customer with ID '" ++ attributes.uriParams.customerId ++ "' not found",
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java

var updates = vars.updatePayload
---
(vars.existing ++ (updates - "id" - "createdAt")) ++ {
    updatedAt: (now()) as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>

                <set-variable variableName="updatedCustomer" value="#[payload]"/>

                <os:store objectStore="Customer_Object_Store" key="#[attributes.uriParams.customerId]" failIfPresent="false">
                    <os:value>#[vars.updatedCustomer]</os:value>
                </os:store>

                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.updatedCustomer]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- DELETE /customers/{customerId} -->
    <flow name="delete:\customers\(customerId):APIkit_Config">
        <logger level="INFO" message="#['DELETE /customers/' ++ attributes.uriParams.customerId]"/>

        <os:retrieve objectStore="Customer_Object_Store" key="#[attributes.uriParams.customerId]" target="existing">
            <os:default-value>#[null]</os:default-value>
        </os:retrieve>

        <choice>
            <when expression="#[vars.existing == null]">
                <set-variable variableName="httpStatus" value="#[404]"/>
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    errorCode: "CUSTOMER_NOT_FOUND",
    message: "Customer with ID '" ++ attributes.uriParams.customerId ++ "' not found",
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <os:remove objectStore="Customer_Object_Store" key="#[attributes.uriParams.customerId]"/>
                <set-variable variableName="httpStatus" value="#[204]"/>
                <set-payload value="#[null]"/>
            </otherwise>
        </choice>
    </flow>

    <!-- GET /health -->
    <flow name="get:\health:APIkit_Config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "UP",
    api: "customer-management-api",
    version: "v1",
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>

</mule>
