projects/customer-management-api/src/main/mule/customer-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <configuration-properties file="config-${mule.env}.yaml"/>

    <http:listener-config name="HTTP_Listener_Config">
        <http:listener-connection host="${http.host}" port="${http.port}"/>
    </http:listener-config>

    <apikit:config name="APIkit_Config" raml="api/customer-management-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <os:object-store name="Customer_Object_Store"
                     persistent="true"
                     entryTtl="365"
                     entryTtlUnit="DAYS"
                     maxEntries="10000"/>

    <flow name="customer-management-api-main">
        <http:listener config-ref="HTTP_Listener_Config" path="/api/*"/>
        <apikit:router config-ref="APIkit_Config"/>
        <error-handler ref="global-error-handler"/>
    </flow>

    <flow name="customer-management-api-console">
        <http:listener config-ref="HTTP_Listener_Config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
        </http:listener>
        <apikit:console config-ref="APIkit_Config"/>
    </flow>

</mule>
